div.jumbotron {
    color: #FFFFFF;
    padding: 0px;
    background-image: url("/Content/images/header.jpg");
    border-bottom: 1px solid silver;
    min-height: 80px;
}

div.jumbotron h1 {
    /*font-family: cursive;*/
    font-size: 38px;
}

div.jumbotron h1 small {
    font-size: 40%;
    font-family: sans-serif;
}

div.feature-box {
    padding-bottom: 40px;
}

a.btn {
    position: absolute;
    bottom: 0px;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

div.blog ul {
    list-style-type: none;
    padding-left: 0;
    display: block;
}

div.blog ul li {
    background-image: url("/Content/images/wordpress-icon.png");
    background-repeat: no-repeat;
    min-height: 35px;
}

div.blog ul li p {
    margin-left: 40px;
}

div.feature-box.about-me ul {
    padding-left: 0;
    list-style-type: none;
}

div.feature-box.about-me ul li {
    display: inline-block;
}

div.latest-visitors ul {
    list-style: none;
    padding-left: 0;
}

div.latest-visitors ul li p {
    font-size: 80%;
}

div.row {
    display: block;
}

div.column {
    display: inline-block;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
