@model dbnet2.Models.HomeViewModel

<div class="row">
    <div class="col-md-4 feature-box about-me">
        <h2>About Me</h2>
        <img src="/Content/images/headshot.png" style="float: left; margin-right: 5px; margin-bottom: 5px;" />
        <p>Not currently looking for work (<a href="/CV">CV</a>).</p>
        <p>I'm a Software Engineer working in the NorthEast of England, near <a href="http://en.wikipedia.org/wiki/Newcastle_upon_Tyne">Newcastle Upon Tyne</a>. I like to <a href="http://www.github.com/danbyrne84">code</a>, <a href="http://www.trueachievements.com/danbyrne007.htm">game</a>, spend too much time on <a href="http://www.reddit.com">Reddit</a> and drink Ale. </p>
        <p>Also likes creating vanity websites, and talking about himself in the third person.</p>
        <ul>
            <li><a href="http://www.facebook.com/danbyrne84"><img src="/Content/images/facebook-icon.png" alt="Facebook" /></a></li>
            <li><a href="http://www.twitter.com/danbyrne84"><img src="/Content/images/twitter-icon.png" alt="Twitter" /></a></li>
            <li><a href="http://www.github.com/danbyrne84"><img src="/Content/images/github-icon.png" alt="Github" /></a></li>
            <li><a href="http://stackoverflow.com/users/627304/managedheap84"><img src="/Content/images/stackoverflow-icon.png" alt="Stack Overflow" /></a></li>
            <li><a href="http://blog.danielbyrne.net/"><img src="/Content/images/wordpress-icon.png" alt="Blog" /></a></li>          
            <li><a href="http://reddit.com/u/managedheap84"><img src="/Content/images/reddit-icon.png" alt="Reddit" /></a></li>
            <li><a href="http://open.spotify.com/user/danbyrne84"><img src="/Content/images/spotify-icon.png" alt="Spotify" /></a></li>
            <li><a href="http://steamcommunity.com/profiles/76561197970343504"><img src="/Content/images/steam-icon.png" alt="Steam" /></a></li>
            <li><a href="http://www.chess.com/members/view/danbyrne84"><img src="/Content/images/chess-icon.png" alt="Chess.com" /></a></li>
            <li><a href="http://www.last.fm/user/danbyrne84/tracks"/><img src="/Content/images/lastfm-icon.png" alt="Last.fm"</a></li>

        </ul>
        <p class="btn-container"><a class="btn btn-default" href="/aboutme" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4 feature-box">
        <h2>Projects</h2>
        <p>I've usually got a project or two on the go. Here are some of the latest ones I'm working on</p>
        <ul>
            <li><a href="http://blog.danielbyrne.net/category/intelligent-home-series/">Home Automation System</a> - a .NET software stack that allows me to automate my home, and provides voice control to a set of APIs</li>
            <li><a href="https://github.com/danbyrne84/website-mono">ASP.NET MVC4 homepage</a>, running on nginx, mono and mongodb [<a href="http://www.github.com/danbyrne84/website-mono">view source</a>]</li>
            <li><a href="http://blog.danielbyrne.net/category/arduino/rover/">Arduino Rover</a> an Arduino powered RC car, built from the hardware components up.</li>
            <li><a href="https://github.com/danbyrne84/Chip-8-Emulator">Chip-8 Emulator</a> written in C#</li>
        </ul>
        <p class="btn-container"><a class="btn btn-default" href="/projects" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4 feature-box blog">
        <h2>Blog</h2>
            @if(Model.BlogItems.Any())
            {
                <ul>
                @foreach (var blogItem in Model.BlogItems)
                {
                    <li><p>@blogItem.PublishDate.ToString("dd/MM/yy H:mm") <a href="@blogItem.Link">@blogItem.Subject</a></p></li>
                }
                </ul>
            }
            else{
                <p>There doesn't seem to be any published blog articles, or the blog is offline.</p>
            }
            
        <p class="btn-container"><a class="btn btn-default" href="http://blog.danielbyrne.net" role="button">View Blog&raquo;</a></p>
    </div>
</div>

